
table {
  border-collapse: collapse;
}

table, th, td {
  border: 5px solid #4CFFFF;
  text-decoration-color: white;
  font-size: 20px;
  text-align: center;
}

th, td {
  border-radius: 15px;
  padding: 10px;
  border-color: white;
  background-color:#334cff;
  color: white;
}